@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url(./css/Nanotech/Nanotech\NormalItalic.otf);

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar-button {
  display: none;
}

.nav {
  width: 100vh;
  z-index: -1;
}

.nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  height: 40px;
  background: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 767px) {
  .card-body {
    margin-left: 5vh !important;

    margin-top: 8vh !important;
  }

  #post {
    position: relative !important;
    left: -2vh !important;
  }

  #review {
    position: relative !important;
    left: 14vh !important;
    top: -3.5vh;
  }
  #set {
    position: relative !important;
    left: 32vh !important;
    top: -7.1vh;
  }
  .carousel-item {
    width: 20vh !important;
  }
}
